.footer {
    background: $main-bg-color;
    color: #fff;
    font-size: 14px;

    a {
        color: #9aa3d0;
        text-decoration: none;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    &__logo {
        display: block;
        width: 244px;
        height: 54px;
        text-decoration: none;
        font-size: 10px;
        line-height: 14px;
        &--logo {
            display: flex;
            align-items: center;
            & span {
                font-size: 24px;
                color: $color-green;
                font-weight: 600;
            }
        }
        & img {
            height: 40px;
            margin-right: 10px;
        }
    }

    &-top {
        width: $max-width;
        margin: 0 auto;
        padding: 43px 0 40px;
        display: flex;
        justify-content: space-between;
    }

    &__contacts {
        text-align: right;
    }

    &-bottom {
        border-top: 1px solid #354389;
        font-size: 14px;
        color: #9aa3d0;

        &__inner {
            width: $max-width;
            margin: 0 auto;
            padding: 18px 0 24px;
            display: flex;
            justify-content: space-between;
        }

        &__creator {
            a {
                text-decoration: underline;
            }
        }
    }
}

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    &__wrapper {
        width: 410px;
        display: flex;
        justify-content: space-between;
        padding: 0 0 0;
    }

    &__item {
        padding: 0 0 12px;
    }
}
