.right-menu {
    margin: 0;
    padding: 35px 0 20px;
    list-style: none;
    border: 3px solid #e4e5e8;
    width: 230px;

    &__item {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        padding-bottom: 15px;

        &_active {
            .right-menu__link {
                color: $default-color-link;
                border-left-color: $default-color-link;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: #363636;
        display: block;
        padding: 3px 0 3px 27px;
        border-left: 3px solid #fff;

        &:hover {
            color: $default-color-link;
            border-left-color: $default-color-link;
        }
    }
}