.send-order {
    background: $default-bg-grey;
    text-align: center;

    &__inner {
        width: $max-width;
        margin: 0 auto;
        padding: 40px 0 60px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        .form-column {
            flex: 1;
            padding-right: 25px;
        }
    }
}