.steps {
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 0 30px 0;
    margin-bottom: 35px;

    h2 {
        text-align: center;
    }

    &__inner {
        width: $max-width;
        margin: 0 auto;
    }

    &-list {
        margin: 0;
        padding: 20px 0 30px 0;
        list-style: none;
        display: flex;
        justify-content: space-between;

        li:first-child {
            &::before {
                display: none;
            }
        }

        &__item {
            flex: 1;
            text-align: center;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 43px;
                left: -13px;
                background: url('/pictures/svg/arrow-pointing-to-right.svg') no-repeat;
                width: 22px;
                height: 16px;
                background-position: center;
                background-size: 100%;
            }
        }

        &__icon {
            background: #fff;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            margin-bottom: 20px;
            background-repeat: no-repeat;
            background-size: 40%;
            background-position: center;

            &_icon-1 {
                background-image: url('/pictures/svg/telephone.svg');
            }
            &_icon-2 {
                background-image: url('/pictures/svg/patent.svg');
            }
            &_icon-3 {
                background-image: url('/pictures/svg/doctor.svg');
            }
            &_icon-4 {
                background-image: url('/pictures/svg/hand-shake.svg');
            }
            &_icon-5 {
                background-image: url('/pictures/svg/users-group.svg');
            }
            &_icon-6 {
                background-image: url('/pictures/svg/wallet.svg');
            }
        }

        &__title {
            font-size: 14px;
            line-height: 20px;
            color: #262626;
            padding-bottom: 3px;
        }

        &__date {
            color: #878787;
            font-size: 12px;
        }
    }
}
