@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&subset=cyrillic);/**
 *  Config
 */

/**
 *  Body
 */

body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  color: #5c5c5c;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 26px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-width: 1000px;
}

html {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  min-width: 960px;
  overflow: hidden;
}

a {
  color: #0a1a68;
  text-decoration: underline;
}

a:hover {
  color: #0a1a68;
  text-decoration: none;
}

.clear {
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
}

.clearfix {
  z-index: 1;
}

.clearfix::after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '';
}

.content-center {
  margin: 0 auto;
  width: 960px;
}

.center-wrapper {
  padding: 35px 0 50px;
  border-top: 1px solid #e2e2e2;
  background: #eaeeef;
  background: linear-gradient(to bottom, #eaeeef 0%, white 100px);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeeef', endColorstr='#ffffff',GradientType=0 );
}

h1 {
  color: #212121;
  font-size: 48px;
  line-height: 54px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 32px;
}

h2 {
  color: #3e3e3e;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 32px;
}

h3 {
  color: #212121;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 30px;
}

h4 {
  color: #212121;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 25px;
}

.h-left-icon {
  padding-left: 64px;
  font-weight: bold;
}

.h-left-icon_icon-1 {
  padding-top: 10px;
  background: url(/images/icon-3.png?e38bde5329934f3bd1bbadc23a5ba9ca) no-repeat;
}

blockquote {
  font-style: italic;
  border-left: 9px solid #ccc;
  padding: 0 0 0 25px;
  margin: 0 0 50px;
}

blockquote.blockquote-color-green {
  border-left-color: #37c956;
}

p {
  margin: 0;
  padding: 0 0 35px;
}

.col-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.left-col {
  width: 730px;
}

.align-center {
  text-align: center;
}

/**
 *  General
 */

.wrapper {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 960px;
  position: relative;
  margin: 0 auto;
}

/**
 *  Animation
 */

a {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

/**
 *  Media
 */

@media screen and (max-width: 960px) {
  .wrapper {
    width: 90%;
  }
}

.header {
  background: #0a1a68;
  color: #fff;
}

.header__inner {
  width: 960px;
  margin: 0 auto;
  padding: 10px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-link {
  margin-right: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header__logo-link img {
  height: 50px;
}

.header__logo-title {
  font-size: 30px;
  color: #38c956;
  font-weight: 600;
}

.header__title {
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  border-left: 1px solid #bfc6ea;
  height: 40px;
  padding: 6px 0 0 15px;
  margin-left: 28px;
}

.header__contacts {
  padding: 0 25px 0;
  text-align: right;
  font-size: 12px;
}

.header__right {
  padding: 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-image {
  height: 373px;
  background: #ebe9ea url(/images/bg-2.jpg?1e7988daedb9ff09b7874c6a6af77d90) no-repeat 100% 0;
  max-width: 1300px;
  margin: 0 auto;
}

.header-image__inner {
  width: 960px;
  margin: 0 auto;
  padding: 65px 330px 0 0;
}

.header-menu {
  width: 960px;
  margin: 0 auto;
}

.header-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__item {
  font-size: 13px;
  position: relative;
}

.header-menu__item:hover .header-menu-dropdown {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 99;
}

.header-menu__item:hover .header-menu__link {
  border-bottom: 4px solid #0a1a68;
}

.header-menu__link {
  display: block;
  height: 72px;
  line-height: 74px;
  color: #363636;
  text-decoration: none;
  border-bottom: 4px solid #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.header-menu__link:hover {
  text-decoration: none;
  border-bottom: 4px solid #0a1a68;
}

.header-menu__item_active .header-menu__link {
  color: #363636;
  border-bottom: 4px solid #0a1a68;
}

.header-menu-dropdown {
  margin: 0;
  padding: 25px 0 15px 25px;
  list-style: none;
  background: #fff;
  position: absolute;
  left: -25px;
  top: 100%;
  width: 315px;
  display: none;
  border-top: 1px solid #e2e2e2;
}

.header-menu-dropdown__item {
  font-size: 13px;
  padding: 0 0 18px;
  text-transform: none;
}

.header-menu-dropdown__link {
  text-decoration: none;
  font-weight: normal;
  color: #363636;
}

.header-menu-dropdown__link:hover {
  color: #248a39;
}

.phone-container {
  font-size: 24px;
  line-height: 26px;
  padding: 0 0 0 22px;
  background: url(/images/smartphone-call.svg?496c33358f372984751dc4fb4ea548b4) no-repeat 0 3px;
  background-size: 18px;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #37c956;
  padding: 0 12px;
  height: 36px;
  line-height: 33px;
  color: #37c956;
  border-radius: 36px;
  text-decoration: none;
  background: none;
}

.button:hover {
  background: #37c956;
  color: #fff;
}

.button:hover:hover {
  color: #fff;
}

.button_bg {
  background: #37c956;
  color: #fff;
}

.button_bg:hover {
  color: #fff;
}

.button_right-arrow::after {
  font-family: Font Awesome\ 5 Free;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  font-size: 12px;
  content: "\F054";
  margin-left: 5px;
}

.footer {
  background: #0a1a68;
  color: #fff;
  font-size: 14px;
}

.footer a {
  color: #9aa3d0;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
  text-decoration: none;
}

.footer__logo {
  display: block;
  width: 244px;
  height: 54px;
  text-decoration: none;
  font-size: 10px;
  line-height: 14px;
}

.footer__logo--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo--logo span {
  font-size: 24px;
  color: #38c956;
  font-weight: 600;
}

.footer__logo img {
  height: 40px;
  margin-right: 10px;
}

.footer-top {
  width: 960px;
  margin: 0 auto;
  padding: 43px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts {
  text-align: right;
}

.footer-bottom {
  border-top: 1px solid #354389;
  font-size: 14px;
  color: #9aa3d0;
}

.footer-bottom__inner {
  width: 960px;
  margin: 0 auto;
  padding: 18px 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom__creator a {
  text-decoration: underline;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu__wrapper {
  width: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 0;
}

.footer-menu__item {
  padding: 0 0 12px;
}

.send-order {
  background: #f1f1f1;
  text-align: center;
}

.send-order__inner {
  width: 960px;
  margin: 0 auto;
  padding: 40px 0 60px;
}

.send-order__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.send-order__wrapper .form-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 25px;
}

.input-text {
  line-height: 36px;
  border: 1px solid #b5b5b5;
  width: 100%;
  padding: 0 0 0 15px;
  font-size: 14px;
  border-radius: 4px;
}

.input-select {
  line-height: 36px;
  height: 36px;
  border: 1px solid #b5b5b5;
  width: 100%;
  padding: 0 0 0 15px;
  font-size: 14px;
  border-radius: 4px;
}

.breadcrumbs {
  margin: 0;
  padding: 0 0 20px;
  list-style: none;
  font-size: 12px;
  color: #5c5c5c;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item a {
  color: #5c5c5c;
  text-decoration: underline;
}

.breadcrumbs__item:after {
  content: '/';
  margin: 0 5px;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-list__name {
  color: #909090;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 0 0 5px;
}

.service-list__item {
  border: 1px solid #dcdcdc;
  position: relative;
  margin: 0 0 -1px;
  padding: 15px 25px 25px 45px;
}

.service-list__text {
  font-size: 12px;
  line-height: 20px;
  color: #878787;
  padding: 0 0 24px;
}

.contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-left {
  width: 420px;
  padding: 45px 0 0;
}

.contacts-left__text {
  padding: 0 0 25px;
}

.contacts-left__hour {
  color: #848484;
  padding-bottom: 25px;
}

.contacts-left__info {
  padding-left: 34px;
}

.contacts-left .phone-container {
  font-size: 36px;
  padding-left: 34px;
  padding-bottom: 5px;
}

.contacts-right {
  width: 490px;
  border: 3px solid #e4e5e8;
  padding: 25px 125px 25px 36px;
}

.contacts-right__title {
  font-size: 21px;
  line-height: 29px;
  padding-bottom: 20px;
}

.contacts-right .form-column {
  padding-bottom: 20px;
}

.about-list {
  margin: 0;
  padding: 20px 0 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.about-list__item {
  padding: 0 0 25px 80px;
  margin: 0 0 35px;
  border-bottom: 1px solid #cdcdcd;
  width: 450px;
}

.about-list__item_icon-1 {
  background: url(/images/icon-about-1.png?c9e103aa389aa3711f4acd7d61a622ec) no-repeat;
}

.about-list__item_icon-2 {
  background: url(/images/icon-about-2.png?c538b51a78eb92879a64caecc836fbf8) no-repeat;
}

.about-list__item_icon-3 {
  background: url(/images/icon-about-3.png?acab7f8c5bd62fd9ca5c5586157fa01b) no-repeat;
}

.about-list__item_icon-4 {
  background: url(/images/icon-about-4.png?67aec8bc40bb9aad8668b046f83687cf) no-repeat;
}

.about-list__item_icon-5 {
  background: url(/images/icon-about-5.png?f55a56e9727ffb6dd5060df400e7ba95) no-repeat;
}

.text__info {
  padding: 24px 0 22px 130px;
  margin: 0 0 35px;
  background: #f2f2d7 url(/images/icon-1.png?0df1b71b6505788bd5f8c61c9e9a6324) no-repeat 38px 50%;
  font-style: italic;
}

.text__info_no-icon {
  background-image: none;
  padding-left: 30px;
}

.text__img-top {
  padding: 0 0 40px;
}

.text__paragraph {
  padding: 0 0 45px;
}

.text__container {
  position: relative;
  padding: 30px 50px 30px;
  margin: 0 -50px 50px -50px;
}

.text__container_grey {
  background: #ecf0f1;
}

.text__container_bg-1 {
  background-image: url(/images/bg-1.jpg?b568371401a5a620b2363eb08d514dfc);
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.text__container_law {
  background: #ebeff0 url(/images/icon-2.jpg?05e72cdbb6d717fb76bae946b2006f33) no-repeat 50px 50%;
  padding: 115px 70px 100px 310px;
  font-size: 18px;
}

.text-list {
  margin: 0;
  padding: 0 0 15px 15px;
  list-style: none;
}

.text-list__item {
  position: relative;
  padding: 0 0 15px 25px;
}

.text-list__item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 6px;
  height: 6px;
  background: #0a1a68;
  border-radius: 6px;
}

.text-offer {
  position: relative;
  width: 435px;
  padding: 25px 20px 35px 30px;
  margin: -100px 0 20px 30px;
  background: #ecf0f1;
  line-height: 24px;
  float: right;
}

.text-offer i {
  color: #1c1c1c;
}

.text-offer__price {
  font-size: 30px;
  font-weight: bolder;
  padding-top: 30px;
  color: #212121;
}

.right-menu {
  margin: 0;
  padding: 35px 0 20px;
  list-style: none;
  border: 3px solid #e4e5e8;
  width: 230px;
}

.right-menu__item {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 15px;
}

.right-menu__item_active .right-menu__link {
  color: #0a1a68;
  border-left-color: #0a1a68;
}

.right-menu__link {
  text-decoration: none;
  color: #363636;
  display: block;
  padding: 3px 0 3px 27px;
  border-left: 3px solid #fff;
}

.right-menu__link:hover {
  color: #0a1a68;
  border-left-color: #0a1a68;
}

.benefits {
  max-width: 1300px;
  margin: 0 auto;
  padding: 21px 0 26px;
  margin-bottom: 80px;
}

.benefits-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-list__item {
  height: 49px;
  font-size: 18px;
  line-height: 20px;
  color: #262626;
  padding: 5px 0 0 100px;
  width: 250px;
}

.benefits-list__item_icon-1 {
  width: 240px;
  background: url("/pictures/svg/shield.svg") no-repeat 34px 50%;
  border: 0;
  padding-top: 15px;
}

.benefits-list__item_icon-2 {
  background: url("/pictures/svg/baby-stoller.svg") no-repeat 27px 50%;
}

.benefits-list__item_icon-3 {
  width: 280px;
  background: url("/pictures/svg/contract.svg") no-repeat 22px 50%;
}

.benefits-list__item_icon-4 {
  width: 220px;
  background: url("/pictures/svg/visibility.svg") no-repeat 22px 50%;
}

.program {
  width: 960px;
  margin: 0 auto;
  padding: 0 0 50px;
}

.program h2 {
  text-align: center;
}

.program h2 a {
  text-decoration: none;
  border-bottom: 1px solid #38c956;
}

.program-list {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 416px;
  overflow: hidden;
  border: 1px solid #dcdcdc;
  background: url(/images/bg-3.jpg?139adca94120e4759f4003dce500af34) no-repeat 100% 100%;
  background-size: cover;
}

.program-list__item {
  float: left;
  width: 300px;
  height: 208px;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding: 30px 0 0 35px;
}

.program-list__item h2 {
  text-align: left;
  padding-bottom: 54px;
}

.program-list__item_first {
  border: 0;
  height: 387px;
  width: 358px;
}

.program-list__item_first h2 {
  padding-bottom: 15px;
}

.program-list__text {
  font-size: 12px;
  line-height: 20px;
  padding: 0 20px 20px 0;
}

.program-list__name {
  color: #909090;
  letter-spacing: 1px;
}

.program-list__price {
  color: #3e3e3e;
  font-size: 16px;
  padding-bottom: 20px;
}

.steps {
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 0 30px 0;
  margin-bottom: 35px;
}

.steps h2 {
  text-align: center;
}

.steps__inner {
  width: 960px;
  margin: 0 auto;
}

.steps-list {
  margin: 0;
  padding: 20px 0 30px 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps-list li:first-child::before {
  display: none;
}

.steps-list__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  position: relative;
}

.steps-list__item::before {
  content: '';
  position: absolute;
  top: 46px;
  left: -15px;
  background: url("/pictures/svg/arrow-pointing-to-right.svg") no-repeat;
  width: 22px;
  height: 16px;
  background-position: center;
  background-size: 100%;
}

.steps-list__icon {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.steps-list__icon_icon-1 {
  background-image: url("/pictures/svg/telephone.svg");
}

.steps-list__icon_icon-2 {
  background-image: url("/pictures/svg/patent.svg");
}

.steps-list__icon_icon-3 {
  background-image: url("/pictures/svg/doctor.svg");
}

.steps-list__icon_icon-4 {
  background-image: url("/pictures/svg/hand-shake.svg");
}

.steps-list__icon_icon-5 {
  background-image: url("/pictures/svg/users-group.svg");
}

.steps-list__icon_icon-6 {
  background-image: url("/pictures/svg/wallet.svg");
}

.steps-list__title {
  font-size: 14px;
  line-height: 20px;
  color: #262626;
  padding-bottom: 3px;
}

.steps-list__date {
  color: #878787;
  font-size: 12px;
}

.stats {
  width: 960px;
  margin: 0 auto;
  padding: 0 0 60px 0;
}

.stats h2 {
  text-align: center;
}

.stats__chart {
  text-align: center;
}

.stats-menu {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stats-menu li:first-child {
  border-radius: 30px 0 0 30px;
}

.stats-menu li:last-child {
  border-radius: 0 30px 30px 0;
}

.stats-menu__item {
  border: 1px solid #c2c2c2;
  height: 36px;
  line-height: 34px;
  padding: 0 20px 0 40px;
  position: relative;
  margin: 0 0 0 -1px;
  cursor: pointer;
  background: #f0f0f0;
}

.stats-menu__item::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 16px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}

.stats-menu__item_active {
  background: none;
}

.stats-menu__item_rus::before {
  background: #5da834;
}

.stats-menu__item_world::before {
  background: #0c6dd0;
}

.common {
  width: 960px;
  margin: 0 auto;
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
}

.full-width-wrapper {
  width: calc(100vw);
  margin-left: calc((100vw - 960px) / 2 * -1);
  min-width: 1000px;
}

.full-width {
  width: calc(100vw);
  min-width: 1000px;
}

.banner-block {
  background: url("/pictures/pict.jpg");
  background-position: -230px center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: calc(100vw - calc((100vw - 960px) / 2));
  position: relative;
  margin-bottom: 50px;
}

.banner-block .image-link {
  position: absolute;
  z-index: 90;
  top: 14px;
  font-size: 12px;
}

.banner-block .image-link img {
  height: 9px;
  /*
			top: 1px;
			position: relative;
*/
  margin-right: 5px;
}

.banner-block .info {
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: inherit;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.banner-block .info h1 {
  padding: 0;
  font-weight: 800;
  font-size: 45px;
  width: 125%;
  margin-left: -25%;
}

.banner-block .info .quote {
  font-size: 16px;
  margin: 80px 0;
}

.banner-block .info .tutor-title {
  line-height: 26px;
}

.banner-block .info .tutor-title b {
  display: block;
}

.banner-block .info > div {
  width: 515px;
}

.banner-block .gradient {
  background: linear-gradient(to left, white 230px, transparent 95%);
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 70%;
  left: auto;
  right: 0;
}

.banner-block.left {
  margin-left: 0;
  margin-right: calc((100vw - 960px) / 2 * -1);
  background-position: 230px center;
}

.banner-block.left .info {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.banner-block.left .info h1 {
  margin-left: 0;
}

.banner-block.left .gradient {
  left: 0;
  right: auto;
  background: linear-gradient(to right, white 230px, transparent 95%);
}

.steps-full-width {
  background: #e4f0f3;
}

.steps-full-width .button {
  border-color: #397686;
  color: #397686;
}

.steps-full-width .button:hover {
  background: #397686;
}

